<mat-toolbar id="shared-navbar" class="navbar" [@fadeIn]>
  <div class="navbar-inner">
    <div id="navbar-title" class="app-title">
      <img src="assets/minilogo.png" alt="Logo" class="logo" />
      CCP
    </div>
    <div id="navbar-links" class="nav-links">
      <a id="nav-manufacturers" *ngIf="isDirectivo()" mat-button routerLink="/manufacturers">
        <mat-icon>domain</mat-icon>
        {{ 'navbar.manufacturers' | translate }}
      </a>
      <a id="nav-products" mat-button routerLink="/products">
        <mat-icon>inventory_2</mat-icon>
        {{ 'navbar.products' | translate }}
      </a>
      <a id="nav-orders" *ngIf="isDirectivo()" mat-button routerLink="/orders">
        <mat-icon>shopping_cart</mat-icon>
        {{ 'navbar.orders' | translate }}
      </a>
      <a id="nav-routes" mat-button routerLink="/routes">
        <mat-icon>map</mat-icon>
        {{ 'navbar.routes' | translate }}
      </a>
      <a id="nav-selling-plans" mat-button routerLink="/selling-plans">
        <mat-icon>assessment</mat-icon>
        {{ 'navbar.selling-plans' | translate }}
      </a>
    </div>
    <span class="spacer"></span>
    <div class="actions">
      <button id="nav-language-button" mat-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon> {{ currentLang | uppercase }}
      </button>
      <mat-menu #languageMenu="matMenu" class="accent-menu">
        <button id="nav-language-english" mat-menu-item (click)="changeLanguage('en')">English</button>
        <button id="nav-language-spanish" mat-menu-item (click)="changeLanguage('es')">Español</button>
      </mat-menu>
      <button id="nav-user-button" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" class="user-info-menu accent-menu">
        <div class="user-header">
          <div class="user-name">{{ userData?.name }}</div>
          <div class="user-role">{{ userData?.role | titlecase }}</div>
        </div>
        <div class="user-contact" style="padding: 10px 10px 10px; font-size: 0.85em; margin-top: 10px;">
          <div class="user-email">{{ userData?.email }}</div>
          <div class="user-phone">{{ userData?.phone }}</div>
        </div>
        <button id="nav-signout" mat-menu-item (click)="signOut()">{{ 'navbar.signOut' | translate }}</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
